@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&family=Story+Script&display=swap');

body {

}
table {
    background-color: #cb7e7e;
}
caption {
    font-size: 100px;
    background-image: url(./bilder/dagny-reese-tTM1K94ZzhE-unsplash.jpg);
    padding: 10px;
    font-family: "Pinyon Script", cursive;
}
tr {}
th {
    font-size: 50px;
    padding: 10px;
     font-family: "Story Script", sans-serif;

}
td {font-size: 20px;;
color: antiquewhite;
padding: 10px;
 font-family: "Story Script", sans-serif;
}
img {
    width: 100%;
    padding: 10px;
}